<div class="block-container block-container--with-sides" *ngIf="!showResetPassword">
  <div class="block-container--white-theme row">
    <div class="_typography text-center">
      <h3 class="signup-box__title signup-box__title--no-margin signup-box__title--small-margin">Forgot Password?</h3>
      <p class="signup-box__text">Enter your email address & we'll send you a link to reset your password.</p>
    </div>
    <div class="col-md-offset-3 col-lg-6">
      <div class="signup-box">
        <div class="signup-box__inner ">
          <form class="form form--vertical form--floating-labels" autocomplete="off" onsubmit="return false" data-type="signup" data-track-form="Started signup form"  data-track-properties={&#34;form&#34;:&#34;modal&#34;>
            <div class="form__items-wrapper">
              <div class="form__item">
                <div class="form__field-wrapper">
                <input type="email" class="form__input form__input--large form__input--with-icon" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"  placeholder=" e.g., youremail@gmail.com"/>
                </div>
              </div>
            </div>          
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-offset-7 col-lg-2">  
          <div class="form__item form__item--submit">
            <div class="form__error form__error--no-min-height"></div>
            <button type="submit" (click)="onBack()" class="btn btn-custom">Back</button>
          </div>
        </div>
        <div class="col-lg-2">  
          <div class="form__item form__item--submit">
            <button type="submit" class="btn btn-custom" (click)="onNext()">
                Next
            </button>
            <div class="form__error form__error--no-min-height"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- resetpassword -->
<div class="block-container block-container--with-sides" *ngIf="showResetPassword">
  <div class="block-container--white-theme row">
    <div class="_typography text-center">
      <h3 class="signup-box__title signup-box__title--no-margin signup-box__title--small-margin">Reset password?</h3>
      <p class="signup-box__text">Find verification code on your email address & Enter new password</p>
    </div>
    <div class="col-md-offset-3 col-lg-6">
      <div class="signup-box">
        <div class="signup-box__inner ">
          <form class="form form--vertical form--floating-labels" autocomplete="off" onsubmit="return false" data-type="signup" data-track-form="Started signup form"  data-track-properties={&#34;form&#34;:&#34;modal&#34;>
            <div class="form__items-wrapper">
              <div class="form__item">
                <div class="form__field-wrapper">
                <input type="text" class="form__input form__input--large form__input--with-icon" [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}"  placeholder="Varification Code">
                </div>
              </div>
            </div>

            <div class="form__items-wrapper">
              <div class="form__item">
                <div class="form__field-wrapper">
                <input type="password" class="form__input form__input--large form__input--with-icon" 
                 [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="New password">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-offset-7 col-lg-2">  
          <div class="form__item form__item--submit">
            <div class="form__error form__error--no-min-height"></div>
          </div>
        </div>
        <div class="col-lg-2">  
          <div class="form__item form__item--submit">
            <button type="submit" class="btn btn-custom" (click)="onConfirmNewPassword()">
                Save
            </button>
            <div class="form__error form__error--no-min-height"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>