<div class="block-container">
  <div class="block-container--white-theme row">
    <div class="_typography text-center">
      <h5 class="signup-box__title signup-box__title--no-margin">Registration Of Company</h5>
    </div>
    <div class="col-md-offset-3 col-lg-6">
      <div class="signup-box__inner">
        <form>
          <div class="form-group">
            <label for="sel1">Company Name</label>
            <input class="form-control" type="text" #name  placeholder="Enter company name">
          </div>
          <div class="form-group">
            <label for="sel1">Select Number of employees:</label>
            <select class="form-control" #employee >
              <option [ngValue]="null">Please choose...</option>
              <option *ngFor="let emp of employees" [value]="emp.value">{{emp.employee}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="sel1">Organization type:</label>
            <select class="form-control" #category>
              <option [ngValue]="null">Please choose...</option>
              <option *ngFor="let org of Organization" [value]="org.value">{{org.name}}</option>
            </select>
          </div>
          <button class="btn btn-custom" (click)="onBack()">Back</button>
          <button class="btn btn-custom" (click)="create_company(name.value,employee.value,category.value)">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>