<header class="Wrapper-header">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid"> 
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
        </button>
          <a href="javascript:void(0)" class="navbar-brand mobile-logo"><img src="assets/images/Asset1.png"></a>
      </div>
      <div class="collapse navbar-collapse">
        <div class="col-lg-1 col-sm-2 pad-zero">
          <a href="javascript:void(0)" [routerLink]="['/dashboard']" class="navbar-brand logo-nav">
            <img src="assets/images/Asset1.png">
          </a>
        </div>
        <div class="col-lg-11 col-sm-10 pad-zero">
          <ul class="nav navbar-nav">
            <li class="nav-search">
              <a href="javascript:void(0)">
                <div class="input-group">
                  <div class="inner-addon left-addon">
                    <i class="fa fa-search  icon" aria-hidden="true"></i>
                    <input type="text" class="form-control" placeholder="Search" name="q">
                  </div>
                </div>
              </a>
            </li>
            <li class="active">
              <a href="javascript:void(0)"><i class="fa fa-usd" aria-hidden="true"></i> Deals</a>
            </li>
            <li>
              <a href="javascript:void(0)"><i class="fa fa-envelope-o" aria-hidden="true"></i> Mail</a>
            </li>
            <li>
              <a href="javascript:void(0)"><i class="fa fa-calendar-o" aria-hidden="true"></i> Activities</a>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0)" data-toggle="dropdown">
                <i class="fa fa-user-o" aria-hidden="true"></i> Contacts
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="javascript:void(0)"><i class="fa fa-user-o" aria-hidden="true"></i> People</a>
                </li>
                  <li><a href="javascript:void(0)"><i class="fa fa-building" aria-hidden="true"></i> Organization</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0)"><i class="fa fa-archive" aria-hidden="true"></i> Products</a>
            </li>
            <li class="dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
              <i class="fa fa-line-chart" aria-hidden="true"></i> Statistics</a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)">Comapany</a></li>
                <li><a href="javascript:void(0)">Personal</a></li>
                <li><a href="javascript:void(0)">Report</a></li>
                <li class="divider"></li>
                <li><a href="javascript:void(0)">Live dashboard</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0)"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="javascript:void(0)"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
            </li>

           
              </ul>
              <ul class="nav navbar-nav navbar-right">
                 <li class="dropdown user">
              <a href="javascript:void(0)" data-toggle="dropdown">
                <div class="usertext"><img src="assets/images/blank_profile_male.jpg" alt="">
                  <span>{{user_object.nickname}}<i class="fa fa-angle-down" aria-hidden="true"></i></span> 
                  <p>Web Technology</p>
                </div>
              </a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)" [routerLink]="['/dashboard/setting']">Setting</a></li>
                <li class="divider"></li>
                <li><a href="javascript:void(0)" data-toggle="modal" data-target="#change-password-popup">Change Password</a></li>
                <li class="divider"></li>
                <li><a [routerLink]="['/company-registration']">Company Profile</a></li>
                <li class="divider"></li>
                <li><a href="javascript:void(0)" (click)="onLogout()">Log out</a></li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</header>