<div class="block-container block-container--with-sides">
  <a href="javascript:void(0)" [routerLink]="['/']" class="btnclose">&times;</a>
  <div class="block-container--white-theme row">
    <div class="_typography text-center">
      <h3 class="signup-box__title signup-box__title--no-margin signup-box__title--small-margin">Log In</h3>
      <p class="signup-box__text"><small>New account?</small>
      <a href="javascript:void(0)" [routerLink]="['/signup']">Sign Up</a></p>
    </div>
    <div class="col-md-offset-1 col-md-5 col-sm-6 border-cls">
      <div class="signup-box">
        <div class="signup-box__inner ">
          <form class="form form--vertical form--floating-labels" autocomplete="off" onsubmit="return false" data-type="signup" data-track-form="Started signup form"  data-track-properties={&#34;form&#34;:&#34;modal&#34;>
            <div class="form__items-wrapper">
              <div class="form__item">
                <div class="form__field-wrapper">
                  <input type="email" name="name" class="form__input form__input--large form__input--with-icon"  placeholder="Email" [(ngModel)]="email">
                </div>
              </div>
              <div class="form__item">
                <div class="form__field-wrapper form__field-wrapper--no-spacing">
                  <input type="password" name="password" class="form__input form__input--large form__input--with-icon " placeholder="password" [(ngModel)]="password" #input>
                  <button type="button" class="btn btn--small" (click)="showPassword(input)">{{show}}
                  </button>
                </div>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="">
                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                  Remeber Me
                </label>
                <button type="button" class="btn btn--small" [routerLink]="['/forgetPassword']" >Forget Password?</button>
              </div>
              <div>
                <button type="submit" class="btn btn-custom" (click)="onLogin()">Log In</button>
              </div>
            </div>          
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1 col-sm-6 button-div">
      <div class="input-group">
        <span class="input-group-addon fb" id="basic-addon1"><i class="fa fa-facebook" aria-hidden="true"></i></span>
        <button class="form-control fb-input" aria-describedby="basic-addon1">Continue with Facebook</button>
      </div>
      <div class="input-group">
        <span class="input-group-addon gleoog" id="basic-addon1"><i class="fa fa-google-plus" aria-hidden="true"></i></span>
        <button class="form-control gleoog-input" aria-describedby="basic-addon1">Continue with Google</button>
      </div>
    </div>
  </div>
</div>