/* resposive */
@media (min-width:100px) and (max-width:400px )
{
.header__navigation li img 
{
    padding: 0px;
    width: 30%;
}
.header__navigation>:not(:first-child) {
    margin-left: 0px !important;
}

}
@media (min-width:300px) and (max-width:768px )
{
.butt-dic {
   display: block;
}
.logo-nav
{
    display:none
}
.mobile-logo
{
    display: block;
}
}

@media (min-width:300px) and (max-width:768px )
{
.sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
 .sidenav .closebtn {
    position: absolute;
    top: 27px;
    /* right: 25px; */
    font-size: 60px;
    margin-left: -50px;
    color: white;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 13px;
}
 .model-cls {
    width: 300px !important;
    margin: auto !important;
    background: #f3f5f6;
    border: 1px solid #c2c8cd;
}
.dropupmenu {
    min-width: 251px !important;
    left: 0px !important;
}
.section-info li {
    width: 100%;
    padding: 15px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    height: auto;
    background: none !important;
    background-size: 25px 100%, 100% 100%;
    background-color: none !important;
}
.wrapp {
    
    background: #f3f5f6;
    border-bottom: solid 1px rgba(0, 0, 0, 0.27);
    /* width: 1200px; */
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
    border-color: transparent !important;
    margin: 0px -10px -8px !important;
}
.navbar-brand {
    float: left;
    padding: 2px 15px !important;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.navbar-nav {
    margin: 7.5px -15px;
    overflow: hidden !important;
}
}
@media (min-width:768px) and (max-width: 1024px )
{
.collapse {
    display: block !important;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 6px !important;
}
.wrapp {

    background: #f3f5f6;
    border-bottom: solid 1px rgba(0, 0, 0, 0.27);
   }
    .Wrap-header {
    padding-bottom: 100px;
    background: #f3f5f6 !important;
}
}
@media (min-width:1025px) and (max-width: 1250px )
{
    
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px !important;
}
}

 @media (min-width:1025px) and (max-width: 1200px )
{
    .wrapp {

    background: #f3f5f6;
    border-bottom: solid 1px rgba(0, 0, 0, 0.27);
   
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px !important;
}
.Wrap-header {
    padding-bottom: 100px;
    background: #f3f5f6 !important;
}
} 
 @media (min-width:1200px) and (max-width:1230px )
 {
.wrapp {
    background: #f3f5f6;
    border-bottom: solid 1px rgba(0, 0, 0, 0.27);
   
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px !important;
}
}
@media (min-width:300px) and (max-width:1000px )
{
.tab-responsive
{
    width: 1000px;
}
}
@media (min-width:300px) and (max-width:430px )
{
.butn-left
{
    float: left !important;
    margin-top: 5px;
}
}
 @media (min-width:1231px) and (max-width:1300px )
 {
    .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 11px !important;
}
 }
  @media (min-width:1300px) and (max-width:1330px )
 {
    .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 12px !important;
}
}
 @media (min-width:768px) and (max-width:856px)
 {
.Wrapper-header
{
    padding: 85px !important;
} 
 }
  @media (min-width:857px) and (max-width:1352px)
 {
.Wrapper-header
{
    padding: 60px !important;
} 
 }