body{ font-size: 14px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}

.footer__list li a
        {
            color: #fff !important;
        }
        .footer__links li a
        {
            color: #fff!important;
        }

    @font-face {
        font-family: 'MuseoSans';
        src: url('../fonts/MuseoSans/museosans-500.woff') format('woff');
        font-weight: 500;
        font-style: normal;
    }
    @font-face {
        font-family: 'MuseoSans';
        src: url('../fonts/MuseoSans/museosans-700.woff') format('woff');
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'Fontawesome';
        src: url('../fonts/fontawesome-webfont.eot') format('eot');
        src: url('../fonts/fontawesome-webfont.woff');
        src: url('../fonts/fontawesome-webfont.woff2');
        font-weight: 700;
        font-style: normal;
    }
    .confirm-cls
    {
    background: #fff;
    margin-top: 100px;
    box-shadow: 0px 5px 18px;
    }
    .cls-col a
    {
        color: rgba(255,255,255,.6);
    }

.bttn-clss
{
    width: 100% ;
}
.wrapp
{

    background: #f3f5f6;
   border-bottom: solid 1px rgba(0, 0, 0, 0.27);
 }
label
{
    font-size: 14px !important;
    color: rgba(38,41,44,0.64) !important;
    font-weight: 500 !important;
}
.navbar-default {
    background-color:#3d4145 !important;
    border-color: #e7e7e7 !important;
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
.navbar-default .navbar-nav > li > a {
    color:#c2c8cd !important;
    font-size: 14px;
  }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#fff !important;
    background-color: transparent;
}
.icon-dollar
{
        background: #fff;
    color: black;
    padding: 10px 14px;
    border-radius: 83px;
    width: 35px;
}   
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
    background-color: #26292c !important;
    color: #fff !important;
}
.search-icon
{
    padding: 8px !important;
}
.icon-li
{
 margin-top: 10px;
}
.set-ul
{
margin: 8px;
}
.section-info
{
    border-right: solid 2px rgba(0, 0, 0, 0.34);
    min-height: 550px !important;
    height: auto;
    overflow: hidden;
}
.section-info span ,.section-info2 span ,.section-info3 span ,.section-info4 span,.section-info5 span
{
    border-bottom:solid 1px rgba(0, 0, 0, 0.34); 
    width: 100%;
    padding: 15px;
    
    color: black;
    font-size: 16px;
    font-weight: 600;
      float: left;
    height: auto;
        background: url(../images/stage-arrow.png) no-repeat 100% 0,linear-gradient(#fff, #f3f5f6);
    background-size: 25px 100%, 100% 100%;
        background-color: #f3f5f6;
           min-height: 50px;

}
.col-lg-2 {
    width: 16.66666667%;
    padding: 0px !important;
}
.col-lg-3 {
    width: 25%;
    padding: 0px !important;
}

li
{
    list-style-type: none;
}
.user-clss
{
    background: rgba(153, 153, 153, 0.38);
    padding: 6px 15px;
}
/* .inner
{
margin-left: -20px;
} */
.inner-ul
{
    font-size: 15px;
} 
.inner-ul li
{
    padding: 5px 40px;
}
.custom-dropdown
{
      min-width: 300px !important;
    left: -170px !important;
}
.model-cls
{
    width: 300px!important;
    margin: auto;
    background: #f3f5f6;
    border: 1px solid #c2c8cd;
}
.small-cls
{
    color: #286090;
    float: right;
    padding: 5px;
    font-size: 14px;
}
.col-6
{
    padding: 0px !important;
}
.foot-model
{

    text-align: right;
    border-top: 1px solid #cccccc;
    padding-top: 10px !important;
    background: #f5f5f5;

}
.custom-btn {
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation;
    touch-action: manipulation ;
    cursor: pointer !important;
    background-image: none !important; 
    border: 1px solid transparent !important;
    white-space: nowrap !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    border-radius: 4px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none  !important;
}
.btn-default {
    color: #333333 !important;
    background-color: #ffffff  !important;
    border-color: #cccccc  !important;
}
.btn-success {
    color: #ffffff !important;
    background-color: #5cb85c !important; 
    border-color: #4cae4c !important;
}
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .icon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .icon  { left:  0px; color: black; z-index: 1243;}
.right-addon .icon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
    background: #f3f5f6;
}
.dropup-p
{
    padding: 0px 40px;
    color: rgba(85, 85, 85, 0.57);

}
.imgdrop
{
    float: left;
    margin: 0px 9px;
}
.dropupmenu
{
    min-width: 251px !important;
    left: -123px !important;
}
.imgdrop img
{
    width: 20px;
}
.icon-th
 {
    color: #1476cc;
 }
.menu:before
{
     content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: #fff;
    position: absolute;
    top: -7px;
     left: 242px;
} 

.navbar {
    /*position: relative;*/
    min-height: 50px;
    margin-bottom: 20px !important;
    border: 1px solid transparent;
}
.activity-drop
{
    left: -100px !important
}
.btn-group button :active
{
    background: red;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0fbd34;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
table, th, td {
    border:1px solid #888e94 !important;
    border-collapse: collapse !important;
}
th, td {
       padding: 1px 14px !important;
}
th {
    text-align: left !important;
    background: rgba(221, 221, 221, 0.28);
        font-size: 13px;
}
.btn-table
{
     padding: 10px 27px 0px;
}
.btn-download
{
    margin: 8px 3px;
}
.btn-download button
{
    background: white;
}
th span
{
    float: right;
    margin: 9px 0px;
}
.product-section
{
    background: rgba(204, 204, 204, 0.12);
    min-height: 700px;
    height: auto;
    overflow: hidden;
}
.navbar-brand img
{
    height: 38px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 100px !important;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.inner-ul li:hover
{
    background: #337ab7;
    color: white;
}
.inner-ul li a
{
    color: rgba(38,41,44,.6);
}
.inner-ul li a:hover
{
    background: #337ab7;
    color: white;
} 
/* .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover
{
    background: #fff !important;
} */
.navbar-brand {
    float: left;
    padding: 12px 15px !important;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
/* .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333333 !important;
    background-color: transparent !important;
}

 */
 .navbar-default .navbar-nav > li > a:focus
 {
     color: #333333 !important;
    background-color: #fff !important;
 }

/* Sidebar Styles */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1300;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 65px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 66px;
    /* right: 25px; */
    font-size: 45px;
    margin-left: -45px;
    color: white;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
}
.side-menu__container
{
  display: inline-block;
    padding: 0px !important;
}
.header__navigation  li
{
    line-height: 60px !important;
}
.header__navigation  li img
{
    padding: 7px 25px;
}

nav
{
    background: #fff !important;
    z-index: 1035 !important;
        height: 90px !important;
}
/* .btn.btn--primary {
    color: #26292c ;
    background: rgba(255, 255, 255, 0.15);
    font-weight: 700;
    border: solid black;
} */
.side_butn
{
    padding:8px 8px 8px 65px;
}
.generic-hero-block
{
    background: #f4f5f5;
}
.con-back {
    background: #14538e;
    color: white;
}
.side-menu__container li img
{
    width: 88%
}
.butt-dic
{
    display: none;
}
.table-view
{
    overflow-x: auto
} 
.butn-left
{
    float: right;
}
.plain-select  {
    display:inline-block;
    vertical-align:middle;
    position:relative;
    width:200px;
}
.plain-select select {
    line-height:normal;
    height:38px;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    width:200px;
    
    display:block;
    width:100%;
    
    
    color:#fff;
    padding:8px 20px 7px 10px;
    margin:0;
    line-height:normal;
    
}
.ie8 .plain-select select{padding-right:3px}
.plain-select select:focus {
    
    outline:none;
    
    }
.plain-select ::-ms-expand {
 display:none;
}
.plain-select:after{
    content:"";
    position:absolute;
    z-index:2;
    right:8px;
    top:50%;
    margin-top:-3px;
    height:0;
    width:0;
    border-top: 6px solid #777777;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    pointer-events:none;
}
.checkbox-row
{
    padding: 15px !important;
}
.styled-checkbox__label {
    position: relative;
    display: inline-block;
    width: auto;
    padding: 0;
    margin-left: 10px;
    cursor: pointer;
    text-align: left;
    color: #888E94;
    max-width: 370px;
}
.styled-checkbox__label:before {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: -30px;
    width: 14px;
    height: 14px;
    margin-top: -10px;
    /* border: 2px
 solid #AEB5B7; */
}
.auth-title {
    font-size: 36px;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 32px;
}
.auth-footer-helper
{
     text-align: center;
}
.auth-page .btn-google-plus {
    display: inline-block;
    background: transparent url(../images/icon-google-plus.svg) left center no-repeat;
    background-size: 30px 20px;
    padding-left: 40px;
    text-align: left;
}
.auth-page
 a {
    color: #888E94;
}
.auth-page {
    height: 100%;
    background-color: #F4F5F5;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    font-family: "MuseoSans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,"Helvetica Neue",Verdana,sans-serif;
    font-weight: 500;
}
.auth-page.login-page .auth-form-container {
    max-width: 650px;
}

.auth-page .auth-form-container.google-login {
    font-size: 22px;
    margin-top: 6px;
    padding: 10px
 20px;
    text-align: center;
}
.auth-page .auth-form-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    margin: 0
 auto;
    max-width: 680px;
    color: #3D454A;
    position: relative;
}
.auth-page .auth-form-container::after, .auth-page .auth-form-container::before {
    content: '';
    display: table;
}
.btn.btn--google-auth2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: transparent url('../images/logo-facebook.png') left center no-repeat;
    width: 35px;
    height: 100%;
    margin-left: 25px;
}
.btn.btn--google-auth2
{
        position: relative;
    color: #fff;
    font-weight: 600;
    background: #4a66a0;
    border: 1px solid #aeb5b7;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}
.header {
    background: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.3);
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
   box-shadow: 7px 4px 100px;
}
header.header-fixed {
    background-color: rgba(255,255,255,0.9);
    height: 40px;
    border-bottom-color: #ccc;
}
.header nav
{
       padding: 10px 11px 1px 3px;
    transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
}
header.header-fixed nav
{
   padding: 0px;
    background: #fff !important;
    z-index: 1035 !important;
    height: 65px !important;
}
.fb-icon
{
    background: white;
    color: #4a66a0;
    padding: 7px;
    border-radius: 50px;
    width: 34px;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 31px !important;
}
.logo-nav
{
    display: block
}
.mobile-logo
{
    display: none;
}
.Wrap-header
{
    margin-bottom: 65px;
    background: #f3f5f6 !important;
}
.btn.btn--primary {
    color: #fff!important;
    background: #8cc739 !important;
    font-weight: 700;
}
a {
    color: #fff !important;
    text-decoration: none;
}
.btn.btn--default, .header--alt .btn.btn--primary {
    color: #26292c;
    box-shadow: inset 0 0 0 3px #fff !important;
    background: 0 0;
    font-weight: 700;
}
.header__navigation  li a
{
    color: #14538e !important;
    font-weight: 700;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #8cc739;
}
.form__select--light-gray {
    color: rgba(38,41,44,.6);
    border-color: #f5f5f5 !important;
}
.auth-footer-helper a
{
    color: rgba(38,41,44,.6) !important;
}
.term a
{
    color: rgba(38,41,44,.6) !important;
}
/*dashboars css start*/
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333 !important;
    white-space: nowrap;
}
.table-view .container-fluid { padding: 0px; }
/* dashboars css end */
.point{ cursor: pointer; }

/* login page css start*/

.btn-custom
{
    float: left !important;
    background: #fff !important;
    color: #14538e !important;
    border: solid 1px #777777 !important;
    border-radius: 60px !important;
    font-weight: 700 !important;

}
.btn-custom:hover
{
    background: #8cc739 !important;
}
.fb
 {
    padding: 6px 22px;
    font-size: 28px !important;
    font-weight: normal;
    line-height: 1;
    color: white !important;
    text-align: center;
    background-color: #3b5998 !important;
    border:none !important;
    /* border-radius: 4px; */
}
.gleoog
{
    padding: 6px 12px;
    font-size: 28px !important;
    font-weight: normal;
    line-height: 1;
    color: white !important;
    text-align: center;
    background-color: #d34836 !important;
      border:none !important;
}
.fb-input
{
    height: 44px !important;
    border: 1px solid #3b5998 !important;
    width: 70% !important;
}
.gleoog-input
{
    height: 44px !important;
    border: 1px solid #d34836 !important;
    width: 70% !important;
}
.button-div
{
    padding: 130px 0px 7px;
}
.button-div .input-group
{
    margin-bottom: 10px !important;
}
.border-cls
{
    border-right: solid 1px #777777;
    height: 350px;
}
.signup-box__text a
{
    color: rgba(38,41,44,.6) !important;
}
.fb-input:hover
{
    border-color: #66afe9 !important;
     -webkit-box-shadow: none;
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); */
    background: rgba(56, 129, 191, 0.24) !important;
}
.gleoog-input:hover
{
border-color: #b32725;
    outline: 0;
    /-webkit-box-shadow: none;
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(154, 18, 15, 0.64); */
    background: rgba(169, 68, 66, 0.07);
}
.btnclose
{
    float: right;
    font-size: 50px;
    color: rgba(38,41,44,.6) !important;
}
.form__input--with-icon {
    padding-left: 0px !important;
    background-position: 14px center;
    background-repeat: no-repeat;
}

/*.navbar-nav {
    float: none !important;
    margin: 0;
}*/

/* checkbox */
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}
.checkbox label
{
    float: left;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: solid 1px #14538e !important;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
   /* margin-right: 166px ;*/
}
.radio label, .checkbox label {
    min-height: 22px;
    padding-left: 0px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
/* login page css end */

/* forgot password css start */
.form__field-wrapper {
    / display: -webkit-box; /
    display: -webkit-flex;
    display: -ms-flexbox;
    / display: flex; /
    / position: relative; /
    -webkit-box-pack: center;
    -webkit-justify-content: left;
    -ms-flex-pack: center;
    / justify-content: center; /
}
.signup-box__inner {
    margin: 13px 81px 30px;
}
.btn.btn--small {
    font-size: 14px;
    line-height: 0.5em !important;
}
/* forgot password css END */
.header__navigation li img {
    padding: 8px 15px;
    height: 50px;
}

/* setting page */
.panel {
    margin-bottom: 20px;
    background-color: transparent !important;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-heading {
    padding: 0px !important;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-body {
    padding: 0px !important;
}
.list-group-item a
{
  color: #337ab7 !important;
}
.list-group-item:hover
{
    background: #f3f5f6 !important;
    color: black !important;
}
.list-group-item.active
{
    background: #f3f5f6 !important;
     color: black !important;
     border-color: #ccc !important;
}
.list-group-item.active a
{
    color: black !important;
}
.main-panle
{
    border: solid 1px #ccc;
    padding: 15px;
    margin-top: 3px;
    background: #fff;
}
/* .main-panle li
{
    padding: 5px 8px 10px;
} */
.main-panle li a
{
    font-size: 15px ;
    color: black !important;
}
.tabs-left, .tabs-right {
  border-bottom: none !important;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd !important;
}
.tabs-right {
  border-left: 1px solid #ddd !important;
}
.tabs-left>li, .tabs-right>li {
  float: none !important;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px !important;
}
.tabs-right>li {
  margin-left: -1px !important;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd !important;
  border-right-color: transparent !important;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  border-bottom: 1px solid #ddd !important;
  border-left-color: transparent !important;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0 !important;
  display:block;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}
.vertical-text {
  margin-top:50px;
  border: none !important;
  position: relative !important;
}
.vertical-text>li {
  height: 20px;
  width: 120px;
  margin-bottom: 100px;
}
.vertical-text>li>a {
  border-bottom: 1px solid #ddd !important;
  border-right-color: transparent !important;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}
.vertical-text>li.active>a,
.vertical-text>li.active>a:hover,
.vertical-text>li.active>a:focus {
  border-bottom-color: transparent !important;
  border-right-color: #ddd !important;
  border-left-color: #ddd !important;
}
.vertical-text.tabs-left {
  left: -50px;
}
.vertical-text.tabs-right {
  right: -50px;
}
.vertical-text.tabs-right>li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.vertical-text.tabs-left>li {
  -webkit-transform: rotate(-90deg) !important;
  -moz-transform: rotate(-90deg) !important;
  -ms-transform: rotate(-90deg) !important;
  -o-transform: rotate(-90deg) !important;
  transform: rotate(-90deg) !important;
}
.tab-content h4
{
    font-size: 21px;
    font-weight: 700;
}
hr {
    margin-top: 10px !important; 
    margin-bottom: 10px !important;
    border: 0;
    border-top: 1px solid #cccccc !important;
}
.tab-content label
{
    text-align: right;
    margin-top: 5px;
}
.editname a
{
    color: #337ab7 !important
}
.nav-tabs > li > a {
   /*  margin-right: 50px !important; */
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.user img
{
height: 34px;
  border-radius: 42px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 12px 12px !important;
}
.sett-back
{
    background: #f3f5f6 !important;
}
.Wrapper-header
{
    padding: 35px;
}

.btn-success {
    color: #ffffff;
    background-color: #8cc739 !important;
    border-color: #8cc739 !important;
}
.usertext span{vertical-align: top}
.usertext i{vertical-align: top;
    margin: 5px;}
.usertext p
{
    margin: -26px 40px -20px;
    font-size: 12px;
}
.pad-zero
{
    padding: 0px !important;
}
.navbar-default .navbar-nav > li > a:focus
 {
     color: #333333 !important;
    background-color: #fff !important;
     height: 58px;
 }
 .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #8cc739 !important;
}
.nav-search
{
    width: 15%;
}
/* setting css end*/