<div class="block-container block-container--with-sides">
  <div class="block-container--white-theme row">
    <div class="_typography text-center">
      <h3 class="signup-box__title signup-box__title--no-margin signup-box__title--small-margin">Confirm Verification Code</h3>
    </div>
    <div class="col-md-offset-3 col-lg-6">
      <div class="signup-box">
        <div class="signup-box__inner ">
          <form class="form form--vertical form--floating-labels" autocomplete="off" onsubmit="return false" data-type="signup" data-track-form="Started signup form"  data-track-properties={&#34;form&#34;:&#34;modal&#34;>
            <div class="form__items-wrapper">
              <div class="form__item">
                <div class="form__field-wrapper">
                <input type="text" class="form__input form__input--large form__input--with-icon" [(ngModel)]="confirmationCode" [ngModelOptions]="{standalone: true}"  placeholder="Enter verification code"/>
                </div>
              </div>
            </div>          
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-offset-7 col-lg-2">  
          <div class="form__item form__item--submit">
            <div class="form__error form__error--no-min-height"></div>
          </div>
        </div>
        <div class="col-lg-2">  
          <div class="form__item form__item--submit">
            <button type="submit" class="btn btn-custom" (click)="onConfirmRegistration()">
                Confirm
            </button>
            <div class="form__error form__error--no-min-height"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>