<div class="block-container block-container--with-sides">
  <a href="javascript:void(0)" class="btnclose" [routerLink]="['/']">&times;</a>
  <div class="block-container--white-theme row">
    <div class="_typography text-center">
      <h3 class="signup-box__title signup-box__title--no-margin signup-box__title--small-margin">Sign Up</h3>
      <p class="signup-box__text"><small>Already have a account?</small>
      <a href="javascript:void(0)" [routerLink]="['/login']">Login</a></p>
    </div>
    <div class="col-md-offset-1 col-md-5 col-xs-12 col-sm-6 border-cls">
      <div class="signup-box">
        <div class="signup-box__inner">
          <form class="form form--vertical form--floating-labels" autocomplete="off" onsubmit="return false" data-type="signup" data-track-form="Started signup form"  data-track-properties={&#34;form&#34;:&#34;modal&#34;>
            <div class="form__items-wrapper">
              <div class="form__item">
                <div class="form__field-wrapper">
                  <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form__input form__input--large form__input--with-icon"  placeholder="Username">
                </div>
              </div>
              <div class="form__item">
                <div class="form__field-wrapper form__field-wrapper--no-spacing">
                  <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form__input form__input--large form__input--with-icon" placeholder="Email" #input>
                </div>
              </div>
              <div class="form__item">
                <div class="form__field-wrapper form__field-wrapper--no-spacing">
                  <input type="password" #input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" name="password" class="form__input form__input--large form__input--with-icon " placeholder="password">

                  <button type="button" class="btn btn--small" (click)="showPassword(input)">{{show}}
                  </button>
                </div>
              </div>
              <div class="form__item form__item--submit">
                <button type="submit" class="btn btn-custom" data-track-action="Clicked Start free trial - Signup form" (click)="onRegister()">
                Sign Up
                </button>
                <div class="form__error form__error--no-min-height"></div>
              </div>
            </div>          
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-1 col-xs-12 col-sm-6 button-div">
      <div class="input-group">
        <span class="input-group-addon fb" id="basic-addon1"><i class="fa fa-facebook" aria-hidden="true"></i></span>
        <button class="form-control fb-input" aria-describedby="basic-addon1">Continue with Facebook</button>
      </div>
      <div class="input-group">
        <span class="input-group-addon gleoog" id="basic-addon1"><i class="fa fa-google-plus" aria-hidden="true"></i></span>
        <button class="form-control gleoog-input" aria-describedby="basic-addon1">Continue with Google</button>
      </div>  
    </div>
  </div>
</div>