<!-- partial add header -->
<app-header></app-header>

<section class="wrapp">
  <div class="container-fluid">
    <div class="row">
      <ul class="list-inline set-ul">
        <li>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default custom-btn" data-toggle="tooltip" data-placement="bottom" title="Pipeline"><i class="fa fa-outdent" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-default custom-btn" data-toggle="tooltip" data-placement="bottom" title="List"><i class="fa fa-list-ul" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default custom-btn" data-toggle="tooltip" data-placement="bottom" title="Forecast"><i class="fa fa-repeat" aria-hidden="true"></i></button>
          </div>
        </li>
        <li>
          <button type="button" class="btn btn-success custom-btn" data-toggle="modal" data-target="#myModal">Add Deal</button>
        </li>
        <li class="butn-left">
          <div class="dropdown">
              <button class="btn btn-default dropdown-toggle custom-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-outdent" aria-hidden="true"></i>&nbsp;<strong>UserLoged</strong>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu custom-dropdown menu" aria-labelledby="dropdownMenu1">
                <li>
                  <form class="navbar-form" role="search">
                  <div class="input-group bttn-clss">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                </form>
              </li>
              <li>
                <div class="user-clss">User</div>
                <ul class="inner-ul">
                  <li>Everyone</li>
                  <li><a href="javascript:void(0)">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; User
                              </a>
                          </li>
                      </ul>
                  </li>
                  <li>
                    <div class="user-clss">Filter</div>
                    <ul class="inner-ul inner">
                      <li>All Deleted Deals</li>
                      <li>All lost Deals</li>
                      <li>All Open Deals</li>
                      <li>All Won Deals</li>
                      <li>More Than 3 month Old Deals</li>
                      <li>Rotten Deals</li>
                    </ul>
                </li>
                  <li class="divider"></li>
                  <li>
                    <a href=""><i class="fa fa-plus" aria-hidden="true"></i><span style="color:javascript:void(0)337ab7">&nbsp; &nbsp;Add new Filter</span></a>
                  </li>
                </ul>
              </div>
        </li>
        <li class="butn-left">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle custom-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-align-center" aria-hidden="true"></i>&nbsp;<strong>Pipeline</strong>
                <span class="caret"></span>
            </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="javascript:void(0)">pipeline</a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;test 1</a></li>
                <li><a href=""><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;pipeline setting</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<div class="table-view">
  <div class="container-fluid">
    <div class="row">
      <div class="tab-responsive">
        <div class="col-lg-2 col-xs-2 section-info"><span>Lead In</span>
          <ul>
            <li class="ui-state-default">Item 1</li>
            <li class="ui-state-default">Item 2</li>
            <li class="ui-state-default">Item 3</li>
            <li class="ui-state-default">Item 4</li>
            <li class="ui-state-default">Item 5</li>
          </ul>
        </div>
        <div class="col-lg-2 col-xs-2 section-info"><span>Contact Made</span>
          <ul>
            <li class="ui-state-default">Item 1</li>
            <li class="ui-state-default">Item 2</li>
            <li class="ui-state-default">Item 3</li>
            <li class="ui-state-default">Item 4</li>
            <li class="ui-state-default">Item 5</li>
          </ul>
        </div>
        <div class="col-lg-2 col-xs-2 section-info"><span>Needs Defined</span>
          <ul>
            <li class="ui-state-default">Item 1</li>
            <li class="ui-state-default">Item 2</li>
            <li class="ui-state-default">Item 3</li>
            <li class="ui-state-default">Item 4</li>
            <li class="ui-state-default">Item 5</li>
          </ul>
        </div>
        <div class="col-lg-3 col-xs-3 section-info"><span>Proposal Made</span>
          <ul>
            <li class="ui-state-default">Item 1</li>
            <li class="ui-state-default">Item 2</li>
            <li class="ui-state-default">Item 3</li>
            <li class="ui-state-default">Item 4</li>
            <li class="ui-state-default">Item 5</li>
          </ul>       
        </div>
        <div class="col-lg-3 col-xs-3 section-info"><span>Negotiations Started</span>
          <ul>
            <li class="ui-state-default">Item 1</li>
            <li class="ui-state-default">Item 2</li>
            <li class="ui-state-default">Item 3</li>
            <li class="ui-state-default">Item 4</li>
            <li class="ui-state-default">Item 5</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Model popup -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog model-cls">
    <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Deal</h4>
          </div>
          <div class="modal-body">
            <form>
                <div class="form-group">
                    <label>Contact person name</label>
                    <div class="inner-addon left-addon">
                <i class="fa fa-user icon" aria-hidden="true"></i>   
                <input type="text" class="form-control" placeholder="Username">
              </div>
              </div>
              <div class="form-group">
                    <label>Organization Name </label>
                    <div class="inner-addon left-addon">
                      <i class="fa fa-keyboard-o icon" aria-hidden="true"></i>
                      <input type="text"  class="form-control" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label >Deal title </label>
                    <input type="text" class="form-control" placeholder="Password">
                    <small class="small-cls">Attach Product</small>
                </div>
                <label for="text">Deal Value</label>
                <div class="form-group col-md-6 col-6">
                    <input type="text" class="form-control" placeholder="value">
                </div>
                <div class="form-group col-md-6 col-xs-12">
                  <select id="company" class="form-control">
              <option value="AFN" data-symbol="AFN">Afghanistan Afghani (AFN)</option>
              <option value="ALL" data-symbol="ALL">Albanian Lek (ALL)</option>
              <option value="DZD" data-symbol="DZD">Algerian Dinar (DZD)</option>
              <option value="AOA" data-symbol="AOA">Angolan Kwanza (AOA)</option>
              <option value="ARS" data-symbol="ARS">Argentine Peso (ARS)</option>
              <option value="AMD" data-symbol="AMD">Armenian Dram (AMD)</option>
              <option value="AWG" data-symbol="AWG">Aruban Guilder (AWG)</option>
              <option value="AUD" data-symbol="A$">Australian Dollar (AUD)</option>
              <option value="AZN" data-symbol="AZN">Azerbaijan New Manat (AZN)</option>
              <option value="AZM" data-symbol="">Azerbaijanian Manat (AZM)</option>
              <option value="BSD" data-symbol="BSD">Bahamian Dollar (BSD)</option>
              <option value="BHD" data-symbol="BHD">Bahraini Dinar (BHD)</option>
              <option value="BDT" data-symbol="BDT">Bangladesh Taka (BDT)</option>
              <option value="BBD" data-symbol="BBD">Barbados Dollar (BBD)</option>
              <option value="BYR" data-symbol="BYR">Belarussian Ruble (BYR)</option>
              <option value="BZD" data-symbol="BZD">Belize Dollar (BZD)</option>
              <option value="BMD" data-symbol="BMD">Bermudian Dollar (BMD)</option>
              <option value="BTN" data-symbol="BTN">Bhutan Ngultrum (BTN)</option>
              <option value="XBT" data-symbol="฿">Bitcoin (XBT)</option>
              <option value="BOB" data-symbol="BOB">Bolivian Boliviano (BOB)</option>
              <option value="BAM" data-symbol="BAM">Bosnia and Herzegovina Convertible Marks (BAM)</option>
              <option value="BWP" data-symbol="BWP">Botswana Pula (BWP)</option>
              <option value="BRL" data-symbol="R$">Brazilian Real (BRL)</option>
              <option value="BND" data-symbol="BND">Brunei Dollar (BND)</option>
              <option value="BGN" data-symbol="BGN">Bulgarian Lev (BGN)</option>
              <option value="BIF" data-symbol="BIF">Burundi Franc (BIF)</option>
              <option value="XOF" data-symbol="CFA">CFA Franc BCEAO (XOF)</option>
              <option value="XAF" data-symbol="FCFA">CFA Franc BEAC (XAF)</option>
              <option value="XPF" data-symbol="CFPF">CFP Franc (XPF)</option>
              <option value="KHR" data-symbol="KHR">Cambodia Riel (KHR)</option>
              <option value="CAD" data-symbol="CA$">Canadian Dollar (CAD)</option>
              <option value="CVE" data-symbol="CVE">Cape Verde Escudo (CVE)</option>
              <option value="KYD" data-symbol="KYD">Cayman Islands Dollar (KYD)</option>
              <option value="CLP" data-symbol="CLP">Chilean Peso (CLP)</option>
              <option value="CLF" data-symbol="CLF">Chilean Unidad de Fomento (CLF)</option>
              <option value="CNY" data-symbol="CN¥">Chinese Yuan Renminbi (CNY)</option>
              <option value="COP" data-symbol="COP">Colombian Peso (COP)</option>
              <option value="KMF" data-symbol="KMF">Comoro Franc (KMF)</option>
              <option value="CRC" data-symbol="₡">Costa Rican Colon (CRC)</option>
              <option value="HRK" data-symbol="HRK">Croatian Kuna (HRK)</option>
              <option value="CUP" data-symbol="CUP">Cuban Peso (CUP)</option>
              <option value="CYP" data-symbol="">Cyprus Pound (CYP)</option>
              <option value="CZK" data-symbol="CZK">Czech Koruna (CZK)</option>
              <option value="DKK" data-symbol="DKK">Danish Krone (DKK)</option>
              <option value="DJF" data-symbol="DJF">Djibouti Franc (DJF)</option>
              <option value="DOP" data-symbol="DOP">Dominican Peso (DOP)</option>
              <option value="XCD" data-symbol="EC$">East Caribbean Dollar (XCD)</option>
              <option value="EGP" data-symbol="EGP">Egyptian Pound (EGP)</option>
              <option value="SVC" data-symbol="₡">El Salvador Colon (SVC)</option>
              
              <option value="ERN" data-symbol="ERN">Eritrea Nafka (ERN)</option>
              
              <option value="EEK" data-symbol="">Estonian Kroon (EEK)</option>
              
              <option value="ETB" data-symbol="ETB">Ethiopian Birr (ETB)</option>
              
              <option value="EUR" data-symbol="€">Euro (EUR)</option>
              
              <option value="FKP" data-symbol="FKP">Falkland Islands Pound (FKP)</option>
              
              <option value="FJD" data-symbol="FJD">Fiji Dollar (FJD)</option>
              
              <option value="CDF" data-symbol="CDF">Franc Congolais (CDF)</option>
              
              <option value="GMD" data-symbol="GMD">Gambian Dalasi (GMD)</option>
              
              <option value="GEL" data-symbol="GEL">Georgian Lari (GEL)</option>
              
              <option value="GHC" data-symbol="">Ghana Cedi (GHC)</option>
              
              <option value="GHS" data-symbol="GHS">Ghanaian Cedi (GHS)</option>
              
              <option value="GIP" data-symbol="GIP">Gibraltar Pound (GIP)</option>
              
              <option value="XAU" data-symbol="XAU">Gold (XAU)</option>
              
              <option value="GTQ" data-symbol="GTQ">Guatemala Quetzal (GTQ)</option>
              
              <option value="GNF" data-symbol="GNF">Guinea Franc (GNF)</option>
              
              <option value="GYD" data-symbol="GYD">Guyana Dollar (GYD)</option>
              
              <option value="HTG" data-symbol="HTG">Haiti Gourde (HTG)</option>
              
              <option value="HNL" data-symbol="HNL">Honduras Lempira (HNL)</option>
              
              <option value="HKD" data-symbol="HK$">Hong Kong Dollar (HKD)</option>
              
              <option value="HUF" data-symbol="HUF">Hungarian Forint (HUF)</option>
              
              <option value="ISK" data-symbol="ISK">Iceland Krona (ISK)</option>
              
              <option value="INR" data-symbol="₨" selected="selected">Indian Rupee (INR)</option>
              
              <option value="IDR" data-symbol="IDR">Indonesian Rupiah (IDR)</option>
              
              <option value="IRR" data-symbol="IRR">Iranian Rial (IRR)</option>
              
              <option value="IQD" data-symbol="IQD">Iraqi Dinar (IQD)</option>
              
              <option value="JMD" data-symbol="JMD">Jamaican Dollar (JMD)</option>
              
              <option value="JPY" data-symbol="¥">Japanese Yen (JPY)</option>
              
              <option value="JOD" data-symbol="JOD">Jordanian Dinar (JOD)</option>
              
              <option value="KZT" data-symbol="KZT">Kazakhstan Tenge (KZT)</option>
              
              <option value="KES" data-symbol="KES">Kenyan Shilling (KES)</option>
              
              <option value="KRW" data-symbol="₩">Korean Won (KRW)</option>
              
              <option value="KWD" data-symbol="KWD">Kuwaiti Dinar (KWD)</option>
              
              <option value="KGS" data-symbol="KGS">Kyrgyzstan Som (KGS)</option>
              
              <option value="LAK" data-symbol="LAK">Lao Kip (LAK)</option>
              
              <option value="LVL" data-symbol="LVL">Latvian Lats (LVL)</option>
              
              <option value="LBP" data-symbol="LBP">Lebanese Pound (LBP)</option>
              
              <option value="LSL" data-symbol="LSL">Lesotho Loti (LSL)</option>
              
              <option value="LRD" data-symbol="LRD">Liberian Dollar (LRD)</option>
              
              <option value="LYD" data-symbol="LYD">Libyan Dinar (LYD)</option>
              
              <option value="LTL" data-symbol="LTL">Lithuanian Litas (LTL)</option>
              
              <option value="MOP" data-symbol="MOP">Macau Pataca (MOP)</option>
              
              <option value="MKD" data-symbol="MKD">Macedonian Denar (MKD)</option>
              
              <option value="MGA" data-symbol="MGA">Malagasy Ariary (MGA)</option>
              
              <option value="MWK" data-symbol="MWK">Malawi Kwacha (MWK)</option>
              
              <option value="MYR" data-symbol="MYR">Malaysian Ringgit (MYR)</option>
              
              <option value="MVR" data-symbol="MVR">Maldives Rufiyaa (MVR)</option>
              
              <option value="MTL" data-symbol="">Maltese Lira (MTL)</option>
              
              <option value="MRO" data-symbol="MRO">Mauritania Ouguiya (MRO)</option>
              
              <option value="MUR" data-symbol="MUR">Mauritius Rupee (MUR)</option>
              
              <option value="MXN" data-symbol="MX$">Mexican Peso (MXN)</option>
              
              <option value="MDL" data-symbol="MDL">Moldovan Leu (MDL)</option>
              
              <option value="MNT" data-symbol="MNT">Mongolian Tugrik (MNT)</option>
              
              <option value="MAD" data-symbol="MAD">Moroccan Dirham (MAD)</option>
              
              <option value="MZN" data-symbol="MZN">Mozambican Metical (MZN)</option>
              
              <option value="MZM" data-symbol="">Mozambique Metical (MZM)</option>
              
              <option value="MMK" data-symbol="MMK">Myanmar Kyat (MMK)</option>
              
              <option value="NAD" data-symbol="NAD">Namibia Dollar (NAD)</option>
              
              <option value="NPR" data-symbol="NPR">Nepalese Rupee (NPR)</option>
              
              <option value="ANG" data-symbol="ANG">Netherlands Antillian Guilder (ANG)</option>
              
              <option value="BYN" data-symbol="Br">New Belarusian Ruble (BYN)</option>
              
              <option value="ILS" data-symbol="₪">New Israeli Shekel (ILS)</option>
              
              <option value="TWD" data-symbol="NT$">New Taiwan Dollar (TWD)</option>
              
              <option value="NZD" data-symbol="NZ$">New Zealand Dollar (NZD)</option>
              
              <option value="NIO" data-symbol="NIO">Nicaragua Cordoba Oro (NIO)</option>
              
              <option value="NGN" data-symbol="₦">Nigerian Naira (NGN)</option>
              
              <option value="KPW" data-symbol="₩">North Korean Won (KPW)</option>
              
              <option value="NOK" data-symbol="NOK">Norwegian Krone (NOK)</option>
              
              <option value="PKR" data-symbol="PKR">Pakistan Rupee (PKR)</option>
              
              <option value="XPD" data-symbol="XPD">Palladium (XPD)</option>
              
              <option value="PAB" data-symbol="PAB">Panama Balboa (PAB)</option>
              
              <option value="PGK" data-symbol="PGK">Papua New Guinea Kina (PGK)</option>
              
              <option value="PYG" data-symbol="PYG">Paraguayan Guarani (PYG)</option>
              
              <option value="PEN" data-symbol="PEN">Peruvian Nuevo Sol (PEN)</option>
              
              <option value="UYU" data-symbol="UYU">Peso Uruguayo (UYU)</option>
              
              <option value="PHP" data-symbol="PHP">Philippine Peso (PHP)</option>
              
              <option value="XPT" data-symbol="XPT">Platinum (XPT)</option>
              
              <option value="PLN" data-symbol="PLN">Polish Zloty (PLN)</option>
              
              <option value="GBP" data-symbol="£">Pound Sterling (GBP)</option>
              
              <option value="QAR" data-symbol="QAR">Qatari Rial (QAR)</option>
              
              <option value="OMR" data-symbol="OMR">Rial Omani (OMR)</option>
              
              <option value="RON" data-symbol="RON">Romanian Leu (RON)</option>
              
              <option value="RUB" data-symbol="RUB">Russian Ruble (RUB)</option>
              
              <option value="RWF" data-symbol="RWF">Rwanda Franc (RWF)</option>
              
              <option value="XDR" data-symbol="XDR">SDR (Special Drawing Rights) (XDR)</option>
              
              <option value="WST" data-symbol="WST">Samoa Tala (WST)</option>
              
              <option value="SAR" data-symbol="SAR">Saudi Riyal (SAR)</option>
              
              <option value="CSD" data-symbol="">Serbian Dinar (CSD)</option>
              
              <option value="RSD" data-symbol="RSD">Serbian Dinar (RSD)</option>
              
              <option value="SCR" data-symbol="SCR">Seychelles Rupee (SCR)</option>
              
              <option value="SLL" data-symbol="SLL">Sierra Leone Leone (SLL)</option>
              
              <option value="XAG" data-symbol="XAG">Silver (XAG)</option>
              
              <option value="SGD" data-symbol="SGD">Singapore Dollar (SGD)</option>
              
              <option value="SKK" data-symbol="">Slovak Koruna (SKK)</option>
              
              <option value="SIT" data-symbol="">Slovenian Tolar (SIT)</option>
              
              <option value="SBD" data-symbol="SBD">Solomon Islands Dollar (SBD)</option>
              
              <option value="SOS" data-symbol="SOS">Somali Shilling (SOS)</option>
              
              <option value="ZAR" data-symbol="ZAR">South African Rand (ZAR)</option>
              
              <option value="LKR" data-symbol="LKR">Sri Lanka Rupee (LKR)</option>
              
              <option value="SHP" data-symbol="SHP">St Helena Pound (SHP)</option>
              
              <option value="SDD" data-symbol="">Sudanese Dinar (SDD)</option>
              
              <option value="SDG" data-symbol="SDG">Sudanese Pound (SDG)</option>
              
              <option value="SRD" data-symbol="SRD">Surinam Dollar (SRD)</option>
              
              <option value="SZL" data-symbol="SZL">Swaziland Lilangeni (SZL)</option>
              
              <option value="SEK" data-symbol="SEK">Swedish Krona (SEK)</option>
              
              <option value="CHF" data-symbol="CHF">Swiss Franc (CHF)</option>
              
              <option value="SYP" data-symbol="SYP">Syrian Pound (SYP)</option>
              
              <option value="STD" data-symbol="STD">São Tome and Principe Dobra (STD)</option>
              
              <option value="TJS" data-symbol="TJS">Tajik Somoni (TJS)</option>
              
              <option value="TZS" data-symbol="TZS">Tanzanian Shilling (TZS)</option>
              
              <option value="THB" data-symbol="฿">Thai Baht (THB)</option>
              
              <option value="TOP" data-symbol="TOP">Tonga Pa'anga (TOP)</option>
              
              <option value="TTD" data-symbol="TTD">Trinidad and Tobago Dollar (TTD)</option>
              
              <option value="TND" data-symbol="TND">Tunisian Dinar (TND)</option>
              
              <option value="TRY" data-symbol="₺">Turkish Lira (TRY)</option>
              
              <option value="TMM" data-symbol="">Turkmenistan Manat (TMM)</option>
              
              <option value="TMT" data-symbol="TMT">Turkmenistani Manat (TMT)</option>
              
              <option value="AED" data-symbol="AED">UAE Dirham (AED)</option>
              
              <option value="USD" data-symbol="$">US Dollar (USD)</option>
              
              <option value="UGX" data-symbol="UGX">Uganda Shilling (UGX)</option>
              
              <option value="UAH" data-symbol="UAH">Ukraine Hryvnia (UAH)</option>
              
              <option value="UZS" data-symbol="UZS">Uzbekistan Sum (UZS)</option>
              
              <option value="VUV" data-symbol="VUV">Vanuatu Vatu (VUV)</option>
              
              <option value="VEB" data-symbol="">Venezuelan Bolivar (VEB)</option>
              
              <option value="VEF" data-symbol="VEF">Venezuelan Bolívar (VEF)</option>
              
              <option value="VND" data-symbol="₫">Vietnamese Dong (VND)</option>
              
              <option value="YER" data-symbol="YER">Yemeni Rial (YER)</option>
              
              <option value="ZMK" data-symbol="">Zambian Kwacha (ZMK)</option>
              
              <option value="ZMW" data-symbol="ZMW">Zambian Kwacha (ZMW)</option>
              
              <option value="ZWL" data-symbol="ZWL">Zimbabwe Dollar (ZWL)</option>
            </select> 
          </div>
          <div class="form-group">
                    <label for="password">Pipeline </label>
            <select id="company" class="form-control">
              <option><a href="javascript:void(0)">Pipeline</a></option>
              <option><a href="javascript:void(0)">test 1</a></option>
            </select>
          </div>
                <div class="form-group">
                  <label for="password">pipeline stage </label>
                  <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div><div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>  
                </div>
                <div class="form-group">
                    <label for="password">Expect close date </label>
                    <input type="text" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" autocomplete="off">
                </div>
            </form> 
        </div>
        <div class="modal-footer foot-model">
            <div class="form-group col-md-6 col-6 col-xs-6">
          <div class="dropup">
            <button class="btn btn-default dropdown-toggle custom-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-th-large icon-th" aria-hidden="true"></i>&nbsp;Entire Company
            </button>
            <div class="dropdown-menu dropupmenu" aria-labelledby="dropdownMenuButton">
                <ul>
                  <li>
                    <a href="javascript:void(0)"><span class="imgdrop"><img src="assets/images/visibility-icons-2x.png" alt=""></span><h5>Owner & followers</h5>
                    <p class="dropup-p">Only the owner & followers can see and edit the details</p>
                    </a>
                  </li>
                  <li>
                  <a href="javascript:void(0)">
                    <span class="imgdrop"><img src="assets/images/visibility1.png" alt=""></span><h5>Entire company</h5>
                    <p class="dropup-p">All users in the company can see and edit the details</p>
                  </a>
                  </li>
                </ul>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 col-xs-6">
          <button type="button" class="btn btn-success  custom-btn" data-toggle="modal" data-target="javascript:void(0)myModal">Save</button>
        </div>
      </div>
    </div>
    </div>
</div>