 <!-- change password popup -->
 <!--
<div class="modal fade" id="change-password-popup">
  <div class="modal-dialog">
    <section class="modal-block__content modal-block__content--fixed-width _typography confirm-cls">
      <div class="modal-block__inner">
        <div class="_typography text-center">
          <h3 class="signup-box__title signup-box__title--no-margin signup-box__title--small-margin">Change Password</h3>
        </div>
        <form>
          <div *ngIf="errorMessage!=null" class="alert alert-danger">
            {{ errorMessage }}
          </div>
          <div class="form-group">
            <label>Enter old password</label>
            <input type="password" class="form-control" [(ngModel)]="oldPassword" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
          <label>Enter new password</label>
            <input type="password" class="form-control" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}">
          </div>
          <button type="submit" class="btn btn--primary btn--lg btn--fluid" (click)="change_password()">
            Change
          </button>
        </form>
      </div>
    </section>
  </div>
</div>
-->
<h4>Change password</h4>
<hr>
<p>Please note that when changing your password, we ask you to set yourself a secure password that contains both uppercase and lowercase letters as well as numbers. This is for your own safety.</p>
<hr>
<form>
    <div class="row">
        <div class="form-group">
            <label class="col-md-4">Current Password</label>
            <div class="col-md-4">
                <input type="password" class="form-control" [(ngModel)]="oldPassword" [ngModelOptions]="{standalone: true}" placeholder="Current Password">
           </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="form-group">
            <label class="col-md-4">New Password</label>
            <div class="col-md-4">
                <input type="password" class="form-control" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" placeholder="New Password">
           </div>
        </div>
    </div>
    <hr>

    <div class="col-md-offset-4 col-md-4">
        <button type="submit" (click)="change_password()" class="btn btn-success custom-btn">change Password</button>
    </div>
</form>